<div class="mat-modal">
   <div class="mat-modal-header">
      <p class="title">{{ this.updateData.FormTitle }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
         (click)="closeDailog()"></button>
   </div>
   <form [formGroup]="contactForm">
   <div class="mat-modal-body">
    
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <!-- image -->
                  <div class="col-md-2">
                     <div class="mb-2 text-center">
                        <img [src]="imagePath" alt="users avatar"
                           class="user-avatar users-avatar-shadow rounded-circle me-2 my-25 cursor-pointer" height="110"
                           width="110">
   
                        <div class="mt-50">
                           <!-- <h4>Eleanor Aguilar</h4> -->
                           <div class="col-lg-11 text-center">
   
                              <button class="btn btn-outline-primary mt-2 w-100" (click)="fileInput.click()">Edit</button>
                              <input #fileInput id="file-input" type="file" formControlName="file"
                                 (change)="onFileSelected($event)" style="display: none;">
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- otherdata -->
                  <div class="col-md-10">
                     <div class="row">
                        <div class="col-md-3">
                           <div class="input">
                              <label>First Name</label>
                              <input class="form-control" formControlName="firstName" required>
                              <mat-error
                                 *ngIf="contactForm.get('firstName')?.touched && contactForm.get('firstName')?.invalid">Please
                                 enter a first name</mat-error>
                           </div>
                           <div class="input">
                              <label>Last Name</label>
                              <input class="form-control" formControlName="lastName" required>
                              <mat-error
                                 *ngIf="contactForm.get('lastName')?.touched && contactForm.get('lastName')?.invalid">Please
                                 enter a last name</mat-error>
                           </div>
                           <div class="input">
                              <label>Company</label>
                              <input class="form-control" formControlName="company" required>
                              <mat-error
                                 *ngIf="contactForm.get('company')?.touched && contactForm.get('company')?.invalid">Please
                                 enter a company name</mat-error>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="input">
                              <label>Office Location</label>
                              <mat-select class="form-control " formControlName="officeLocationId" required
                                 placeholder="Choose an office">
                                 <mat-option *ngFor="let ofc of officeLocations" [value]="ofc.id">
                                    {{ofc.name}}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngIf="contactForm.get('officeLocationId')?.touched && contactForm.get('officeLocationId')?.value === ''">
                                 Please select an office location
                              </mat-error>
                           </div>
                           <div class="input">
                              <label>Workflow</label>
                              <mat-select formControlName="workFlowId" class="form-control "
                                 placeholder="Choose a Workflow" required>
                                 <mat-option *ngFor="let wf of workflows" [value]="wf.id">
                                    {{wf.workFlowName}}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngIf="contactForm.get('workFlowId')?.touched && contactForm.get('workFlowId')?.value === ''">
                                 Please select an workflow
                              </mat-error>
                           </div>
                           <div class="input">
                              <label className="form-label">Status</label>
                              <mat-select class="form-control " formControlName="statusId" required
                                 placeholder="Choose a status">
                                 <mat-option *ngFor="let ss of statuses" [value]="ss.id">
                                    {{ss.statusName}}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngIf="contactForm.get('statusId')?.touched && contactForm.get('statusId')?.value === ''">
                                 Please select an status
                              </mat-error>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="input">
                              <label>Sales Representative</label>
                              <mat-select formControlName="salesRepId" class="form-control " required
                                 placeholder="Choose sales representative" required>
   
                                 <mat-option *ngFor="let salesRep of salesReps" [value]="salesRep.id">
                                    {{salesRep.name}}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngIf="contactForm.get('salesRepId')?.touched && contactForm.get('salesRepId')?.value === ''">
                                 Please select an sales representative
                              </mat-error>
                           </div>
                           <div class="input">
                              <label>Source</label>
                              <mat-select formControlName="sourceId" class="form-control "
                                 placeholder="Choose a source">
                                 <mat-option *ngFor="let src of sources" [value]="src.id">
                                    {{src.value}}
                                 </mat-option>
                              </mat-select>
                           </div>
                           <div class="input">
                              <label>Subcontractor</label>
                              <mat-select formControlName="subContractorId" class="form-control "
                                 placeholder="Choose a subcontractor">
                                 <mat-option *ngFor="let sc of subcontractors" [value]="sc.id">
                                    {{sc.name}}
                                 </mat-option>
                              </mat-select>
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="input">
                              <label>Related Contacts</label>
                              <mat-select formControlName="relatedContacts" class="form-control "
                                 placeholder="Choose a related contacts" multiple>
                                 <mat-option *ngFor="let rl of relatedcontacts" [value]="rl.id">
                                    {{rl.name}}
                                 </mat-option>
                              </mat-select>
                           </div>
                           <div class="input">
   
                              <label>Assigned Team Members</label>
                              <mat-select formControlName="teamMembers" class="form-control "
                                 placeholder="Choose a team members" multiple>
                                 <mat-option *ngFor="let tm of teamMembers" [value]="tm.id">
                                    {{tm.name}}
                                 </mat-option>
                              </mat-select>
                           </div>
   
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12">

               <!-- <div class="divider divider-start">
                  <div class="divider-text gray-2px">
                     <h3>General Information</h3>
                  </div>
               </div> -->

               <div class="row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="input">
                              <label>Display Name</label>
                              <input  formControlName="displayName" class="form-control ">
                           </div>
                           <div class="input">
                              <label>Address Line 1</label>
                              <input  formControlName="addressLine1" class="form-control ">
                           </div>
                           <div class="input">
                              <label>Address Line 2</label>
                              <input  formControlName="addressLine2" class="form-control ">
                           </div>
                           <div class="input">
                              <label>City</label>
                              <input  formControlName="city" class="form-control ">
                           </div>
                           <div class="input">
                              <label className="form-label">State</label>
                              <mat-select class="form-control" formControlName="stateId" required
                                 placeholder="Choose a state" (value)="contactForm.get('stateId')?.value">
                                 <mat-option *ngFor="let state of states" [value]="state.id">
                                    {{state.name}}
                                 </mat-option>
                              </mat-select>
                              <mat-error
                                 *ngIf="contactForm.get('stateId')?.touched && contactForm.get('stateId')?.value === ''">
                                 Please select a state
                              </mat-error>
                           </div>
                           <div class="input">
                              <label>Zip Code</label>
                              <input  formControlName="zipCode" class="form-control ">
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="input">
                              <label>Email</label>
                              <input  formControlName="email" type="email" class="form-control ">
                              <mat-error *ngIf="contactForm.controls['email'].invalid">Please enter a valid email
                                 address</mat-error>

                           </div>
                           <div class="input">
                              <label>Website</label>
                              <input  formControlName="website" class="form-control ">
                           </div>
                           <div class="input"><label class="form-label" for="faxNumber">Fax Number</label><input
                                 type="text" name="faxNumber" class="form-control " id="faxNumber"
                                 placeholder="xxxx..." value=""></div>
                           <div class="input"><label class="form-label" for="mobileNumber">Mobile Number</label><input
                                 type="text" name="mobileNumber" class="form-control " id="mobileNumber"
                                 placeholder="xxxx..." value=""></div>
                           <div class="input"><label class="form-label" for="homeNumber">Home Number</label><input
                                 type="text" name="homeNumber" class="form-control " id="homeNumber"
                                 placeholder="xxxx..." value=""></div>
                           <div class="input"><label class="form-label" for="officeNumber">Office Number</label><input
                                 type="text" name="officeNumber" class="form-control " id="officeNumber"
                                 placeholder="xxxx..." value=""></div>
                        </div>

                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-6">
                          
                           <div class="input">
                              <label>Start Date</label>

                              <div>
                                 <mat-form-field appearance="outline" class=" date-picker">
                                    <input matInput [matDatepicker]="picker" formControlName="startDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                              </div>
                              <!-- <input  [matDatepicker]="startDatePicker" formControlName="startDate"
                                 class="form-control " required>
                              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                              <mat-datepicker #startDatePicker></mat-datepicker> -->
                              <mat-error
                                 *ngIf="contactForm.get('startDate')?.touched && contactForm.get('startDate')?.invalid">Please
                                 select date</mat-error>
                           </div>
                           <div class="input">
                              <label>End Date</label>
                              <div>
                                 <mat-form-field appearance="outline" class=" date-picker">
                                    <input matInput [matDatepicker]="picker" formControlName="endDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                              </div>
                              <!-- <input  formControlName="endDate" [matDatepicker]="picker"
                                 [value]="contactForm.get('endDate')?.value" class="form-control "
                                 required />
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker> -->
                              <mat-error
                                 *ngIf="contactForm.get('endDate')?.touched && contactForm.get('endDate')?.invalid">Please
                                 select date</mat-error>
                           </div>


                           <div class="input" [formGroup]="phoneNumbersForm">
                              <label>Phone Number</label>
                              <input  class="form-control " formControlName="phoneNumber"
                                 placeholder="Enter phone number">

                              
                           </div>
                           <div class="input">
                              <label>Type</label>
                              <mat-select formControlName="typeId" placeholder="Select type"
                                 class="form-control ">
                                 <mat-option *ngFor="let type of phoneTypes" [value]="type.id">{{ type.value
                                    }}</mat-option>
                              </mat-select>

                              <button mat-raised-button (click)="addPhoneNumber(phoneTypes)"
                                 class="form-control ">Add</button>

                              <div *ngIf="phoneNumbers.length > 0">
                                 <p *ngFor="let phoneNumber of phoneNumbers">
                                    {{ phoneNumber.phoneNumber }} ({{ phoneNumber.typeName }})

                                 </p>
                                 <!-- <mat-chip *ngFor="let phoneNumber of phoneNumbers" (removed)="removePhoneNumber(phoneNumber.phoneNumber)">
                                              {{ phoneNumber.phoneNumber }} ({{ phoneNumber.typeId }})
                                              <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip> -->

                              </div>
                           </div>
                           <div class="input">
                              <label class="form-label">Tags</label>

                              <tag-input formControlName="tags" class="form-control "></tag-input>
                              <!-- <input type="text" class="form-control " placeholder="Add a tag" value=""> -->

                           </div>

                        </div>
                        <div class="col-md-6">
                           <div class="input"><label class="form-label" for="note">Note</label><input type="text"
                                 name="note" class="form-control " id="note" placeholder="Some note..."
                                 value=""></div>
                           <div class="input">
                              <label>Description</label>
                              <textarea  formControlName="discription"
                                 class="form-control "></textarea>
                           </div>
                           <div class="input">

                           </div>
                        </div>
                        <!-- <div class="col-md-12">
                           <div class="divider divider-start">
                              <div class="divider-text gray-2px">
                                 <h3>Additional Information</h3>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
   </div>
   <div class="mat-modal-footer">
      <div class="mt-4 text-end">
         <button type="submit" class="btn btn-primary btn-lg" (click)="onSubmit()">{{
            this.updateData.Request_Type }}</button>
      </div>
   </div>
   </form>
</div>