<section class="section-padding">
    <div class="container">
        <div class="component-header">
            <p class="title lg text-white">Dashboard</p>
            <i class="material-symbols-outlined text-white">home</i>
        </div> 
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <div class="text-muted text-uppercase fs-10px">Total Jobs</div>
                            <h4 class="fw-bolder mb-0 mt-10px">15689k</h4>

                        </div>
                        <div class="avatar bg-light-success p-50 m-0">
                            <div class="avatar-content">
                                <i class="material-symbols-outlined ">trending_up</i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="text-success">+3.48%</span> <span class="text-dark">Since
                                last
                                month</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <div class="text-muted text-uppercase fs-10px">Total % of invoice Paid
                            </div>
                            <h4 class="fw-bolder mb-0 mt-10px">89%</h4>

                        </div>
                        <div class="avatar bg-light-primary p-50 m-0">
                            <div class="avatar-content">
                                <i class="material-symbols-outlined ">trending_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="text-danger">2.1%</span> <span class="text-dark">Since
                                Than last year
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <div class="text-muted text-uppercase fs-10px">Yearly Revenue</div>
                            <h4 class="fw-bolder mb-0 mt-10px">924</h4>

                        </div>
                        <div class="avatar bg-light-danger p-50 m-0">
                            <div class="avatar-content">
                                <i class="material-symbols-outlined ">attach_money</i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="text-success">+3.48%</span> <span class="text-dark">Since
                                last
                                month</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <div class="text-muted text-uppercase fs-10px">Total Contacts</div>
                            <h4 class="fw-bolder mb-0 mt-10px">1349k</h4>

                        </div>
                        <div class="avatar bg-light-info p-50 m-0">
                            <div class="avatar-content">
                                <i class="material-symbols-outlined ">equalizer</i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="text-success">+3.48%</span> <span class="text-dark">Since
                                last
                                month</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">New Contacts</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">New Jobs</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">Jobs Completed</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">Invoice Created</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">Estimates Created</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="text-muted mb-0 text-uppercase fs-10px">Payment Made</p>
                        <h2 class="fw-bolder mb-0">212</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <button class="btn btn-info">Organize</button>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="content-body">
            <section>
                <div class="row match-height">
                    <div class="col-col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    Tasks
                                </div>
                                <div class="actions d-flex">
                                    <button class="btn btn-primary btn-sm">
                                        <div class="d-flex align-items-center">
                                            <i class="material-symbols-outlined ">add</i>
                                            <span>Add Task</span>
                                        </div>
                                    </button>
                                    <span>&nbsp;</span>
                                    <button
                                        class="btn btn-outline-primary btn-sm dropdown-toggle d-flex align-items-center "
                                        type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        <i class="material-symbols-outlined ">sort</i>
                                        <span>Sorted By</span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Desc.</th>
                                            <th>Assigned TO</th>
                                            <th>Sub Cont.</th>
                                            <th>Contacts</th>
                                            <th>Tags</th>
                                            <th>Status</th>
                                            <th>Notes</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex">Calling Micheall</div>
                                                <div class="d-flex text-muted">Mon Nov 8, 1:00PM - 2:30PM
                                                </div>
                                            </td>
                                            <td>Lorem ipsum ...</td>
                                            <td>
                                                <div class="avatar-group">
                                                    <div data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                        data-bs-placement="top" class="avatar pull-up my-0" title=""
                                                        data-bs-original-title="Lilian Nenez">
                                                        <img src="../assets/images/sm-5.jpeg" alt="Avatar" height="26"
                                                            width="26">
                                                    </div>
                                                    <div data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                        data-bs-placement="top" class="avatar pull-up my-0" title=""
                                                        data-bs-original-title="Alberto Glotzbach">
                                                        <img src="../assets/images/sm-6.jpeg" alt="Avatar" height="26"
                                                            width="26">
                                                    </div>
                                                    <div data-bs-toggle="tooltip" data-popup="tooltip-custom"
                                                        data-bs-placement="top" class="avatar pull-up my-0" title=""
                                                        data-bs-original-title="Alberto Glotzbach">
                                                        <img src="../assets/images/sm-5.jpeg" alt="Avatar" height="26"
                                                            width="26">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>Incomplete</td>
                                            <td>None</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button"
                                                        class="btn btn-sm dropdown-toggle hide-arrow"
                                                        data-bs-toggle="dropdown">
                                                        <i class="material-symbols-outlined">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                                            <i
                                                                class="material-symbols-outlined me-50 fs-15px">border_color</i>
                                                            <span>Edit</span>
                                                        </a>
                                                        <a href="#" class="dropdown-item d-flex align-items-center">
                                                            <i
                                                                class="material-symbols-outlined me-50 fs-15px">delete</i>
                                                            <span>Delete</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> 
</section>