<!-- Content -->

<section class="section-padding">
  <div class="container">
    <div class="component-header">
      <p class="title lg text-white">Contacts</p>
      <i class="material-symbols-outlined text-white">email</i>
      <ol class="breadcrumb px-2 py-0 my-0">
        <li class="breadcrumb-item">
          <a class="title lg text-white">Contacts</a>
        </li>
        <li class="breadcrumb-item">
          <a class="title lg text-white" href="#">Logbook</a>
        </li>
      </ol>
      <!-- <ol class="breadcrumb px-2">
                  <li class="breadcrumb-item"><a class="text-light" href="index.html">Contacts</a></li>
                  <li class="breadcrumb-item"><a class="text-light" href="#">Dashboard</a></li>
              </ol> -->
    </div>
    <div class="card">
      <div class="card-body">
        <section>
          <div class="row match-height">
            <div class="col-col-12">
              <div class="card position-relative">
                <div class="row ">
                  <div
                    class="col-md-12 text-center position-absolute absolutd_col"
                  >
                    <div class="mb-2 text-center">
                      <img
                        src="assets/images/5.png"
                        alt="users avatar"
                        class="user-avatar users-avatar-shadow border_profile rounded-circle me-2 my-25 cursor-pointer"
                        height="110"
                        width="110"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-title mt-3">
                    <div class="text-white">spacing</div>
                  </div>
                <div class="card-header p-0 d-block">
                  <table class="table mt-4">
                    <tbody>
                      <tr>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Name
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Compnay
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Phone Number
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Email
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Website
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Zip Code
                          </h6>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize py-0">
                          <small>{{
                            contact.firstName + " " + contact.lastName
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{ contact.company }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{
                            contact.phoneNumbers[0].phoneNumber
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small class="text-capitalize">{{
                            contact.email
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{ contact.website }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{ contact.zipCode }}</small>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Adress
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Start Date
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Project
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Sales Rep
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Source
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Sub Contractor
                          </h6>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize py-0">
                          <small>{{
                            contact.addressLine1 +
                              " " +
                              contact.addressLine2 +
                              " " +
                              contact.city
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{
                            contact.startDate | date : "dd/MM/yyyy h:mm a"
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small>{{ contact.salesRep }} Project here</small>
                        </td>
                        <td class="py-0">
                          <ng-container>
                            <div class="avatar-group">
                              <div
                                data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar pull-up my-0"
                                title=""
                                data-bs-original-title="Lilian Nenez"
                              >
                                <img
                                  src="../../../assets/images/sm-5.jpeg"
                                  alt="Avatar"
                                  height="26"
                                  width="26"
                                />
                              </div>
                              <small>{{ contact.salesRep }}</small>
                            </div>
                          </ng-container>
                        </td>
                        <td class="py-0">
                          <small>John Aston</small>
                        </td>
                        <td class="py-0">
                          <small>{{ contact?.subContractor?.name }}</small>
                        </td>
                      </tr>
                      <tr>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            office
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            End Date
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Status
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Assigned To
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Tags
                          </h6>
                        </td>
                        <td class="py-0 border-0">
                          <h6 class="d-flex text-primary text-uppercase mt-1">
                            Related contacts
                          </h6>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize py-0">
                          <small class="text-capitalize">{{
                            contact.officeLocation.name
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small class="text-capitalize">{{
                            contact.endDate | date : "dd/MM/yyyy h:mm a"
                          }}</small>
                        </td>
                        <td class="py-0">
                          <small class="text-capitalize"
                            >Waitinf for payment (9 days in status)</small
                          >
                        </td>
                        <td class="py-0">
                          <small class="text-capitalize"
                            >john aston, michael scott, anna bernard, jacob
                            winchester</small
                          >
                        </td>
                        <td class="py-0">
                          <ng-container
                            *ngFor="let t of contact.tags; let last = last"
                          >
                            <small *ngIf="!last" class="text-capitalize"
                              >{{ t.tag }},
                            </small>
                            <small *ngIf="last" class="text-capitalize">{{
                              t.tag
                            }}</small>
                          </ng-container>
                        </td>
                        <td class="py-0">
                          <ng-container
                            *ngFor="
                              let c of contact.relatedContacts;
                              let last = last
                            "
                          >
                            <a
                              *ngIf="!last"
                              class="text-capitalize"
                              (click)="openRelatedContactModal(c)"
                              ><u>{{ c.firstName }}</u
                              >,
                            </a>
                            <a
                              *ngIf="last"
                              class="text-capitalize"
                              (click)="openRelatedContactModal(c)"
                              ><u>{{ c.firstName }}</u></a
                            >
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table mt-3">
                    <thead>
                      <tr>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Logbook</small
                            ></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded">Jobs</small></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Tasks</small
                            ></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Attachments</small
                            ></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Photos</small
                            ></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Financials</small
                            ></a
                          >
                        </th>
                        <th class="text-capitalize p-2">
                          <a href="#"
                            ><small class="bg-white p-1 rounded"
                              >Forms</small
                            ></a
                          >
                        </th>
                      </tr>
                    </thead>
                  </table>
                  <!-- <div class="card-title my-2">
                    <div class="text-white">spacing</div>
                  </div> -->
                  <div class="actions d-flex justify-content-end my-2">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <button
                      class="btn btn-outline-primary text-primary btn-sm d-flex align-items-center"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true"
                    >
                      <i class="material-symbols-outlined">unfold_more</i>
                      <span>Sorted By</span>
                    </button>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </div>
                </div>
                
                <div class="card-body p-0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-capitalize">Activity</th>
                        <th class="text-uppercase">Type</th>
                        <th class="text-uppercase">Performed by</th>
                        <th class="text-uppercase">date</th>
                        <th class="text-uppercase"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-capitalize">
                          status changed
                          <small class="text-uppercase"
                            >"ACV SENT TO AZ" ACV MEET HOMEOWNER"</small
                          >
                        </td>
                        <td class="text-capitalize">status changed</td>
                        <td class="text-capitalize">Nora dona</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                type="button"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          *@kimDenson @DanKellow @NoraDona @DavidBlaine the
                          customer
                        </td>
                        <td class="text-capitalize">unassigned contact</td>
                        <td class="text-capitalize">alex devalin</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          status changed
                          <small class="text-uppercase"
                            >"ACV SENT TO AZ" ACV MEET HOMEOWNER"</small
                          >
                        </td>
                        <td class="text-capitalize">status changed</td>
                        <td class="text-capitalize">Nora dona</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-capitalize">
                          *@kimDenson @DanKellow @NoraDona @DavidBlaine the
                          customer
                        </td>
                        <td class="text-capitalize">unassigned contact</td>
                        <td class="text-capitalize">alex devalin</td>
                        <td>10/12/2021</td>
                        <td>
                          <div class="dropdown">
                            <button
                              type="button"
                              class="btn btn-sm dropdown-toggle hide-arrow"
                              data-bs-toggle="dropdown"
                            >
                              <i class="material-symbols-outlined">more_vert</i>
                            </button>
                            <div class="dropdown-menu">
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >border_color</i
                                >
                                <span>Edit</span>
                              </a>
                              <a
                                href="#"
                                class="dropdown-item d-flex align-items-center"
                              >
                                <i
                                  class="material-symbols-outlined me-50 fs-15px"
                                  >delete</i
                                >
                                <span>Delete</span>
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <section class="px-3">
                  <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination mt-2">
                          <li class="page-item prev-item">
                            <a class="page-link" href="#"></a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">4</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">5</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">6</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">7</a>
                          </li>
                          <li class="page-item next-item">
                            <a class="page-link" href="#"></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<div class="sidenav-overlay"></div>
<!-- / Content -->
