.modal-dialog {
    width: 50vw;
    height: 50vh;
  }
  
  .modal-content {
    position: relative;
  }
  
  .modal-default-close {
    margin: 0;
  
    position: absolute;
    width: 1.9rem;
    height: 25px;
    border-radius: 0px 0px 0px 10px;
    background-color: #7367f0 !important;
    color: #ffffff;
    font-size: 40px;
    opacity: 1;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
  
  }
  
  .modal-Scroll::-webkit-scrollbar {
    display: none;
  }
  
  .modal-Scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .modal-header {
    padding: 16px 16px;
    color: #FFF;
  }
  
  
  .success-snackbar {
    background-color: green;
    color: white;
  }
  
  .error-snackbar {
    background-color: red;
    color: white;
  }
  
  .heading {
    display: flex;
    justify-content: center;
  }
  
  .heading .title {
    font-weight: 900;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
  }
  