
<!-- Sidebar -->
<div class="sidebar" >
    <div class="sidebar-header">
        <img class="logo" src="../../../../assets/images/logo.png" alt="">
        <button class="sidebar-toggler" (click)="toggleSidebar()">
            <span class="material-symbols-outlined" *ngIf="!sidebarexpandedicon">lock_open</span>
            <span class="material-symbols-outlined" *ngIf="sidebarexpandedicon">lock</span>
            
        </button>
    </div>
    <div class="menu-container">
        <ul class="menu-items">
            <li class="menu-item">
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                    <i class="material-symbols-outlined">home</i>
                    <span class="">Dashboard</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="/contact" routerLinkActive="active">
                    <i class="material-symbols-outlined text-danger">mail</i>
                    <span class="">Contacts</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                    <i class="material-symbols-outlined text-info">work</i>
                    <span class="">Jobs</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                    <i class="material-symbols-outlined text-secondary">description</i>
                    <span class="">Projects</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                    <i class="material-symbols-outlined text-warning">chat_bubble</i>
                    <span class="">Analytics</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                    <i class="material-symbols-outlined text-danger">calendar_today</i>
                    <span class="">Calendar</span>
                </a>
            </li> 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                    <i class="material-symbols-outlined text-warning">settings</i>
                    <span class="">Settings</span>
                </a>
            </li> 
<!-- 
            <li class="menu-item">
                <a class="menu-link" routerLink="" routerLinkActive="">
                  <i class="bi bi-columns-gap"></i>
                  <span></span>
                </a>
            </li> 
             -->
        </ul>
    </div>
</div>


<!-- 
<div class="sidebar main-menu menu-fixed menu-light menu-accordion menu-shadow" onmouseover="mouseOverMainMenu()"
 onmouseleave="mouseLeaveMainMenu()" id="mainMenu">
 <div class="navbar-header">
     <ul class="nav navbar-nav flex-row">
         <li class="nav-item me-auto">
             <a href="/" class="navbar-brand">
                 <span class="brand-logo">
                     <img src="../assets/images/logo.png">
                 </span>
             </a>
         </li>
         <li class="nav-item nav-toggle">
             
         </li>
     </ul>
 </div>
 <div class="shadow-bottom"></div>
 <div class="main-menu-content">
     <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
         <li class="nav-item">
             <a class="d-flex align-items-center" href="index.html">
                 <i class="material-symbols-outlined">home</i>
                 <span class="menu-title mt-5px text-primary">Dashboard</span>
             </a>
         </li>
         <li class="nav-item" routerLink="/contact" routerLinkActive="active">
             <a class="d-flex align-items-center" routerLink="/contact" routerLinkActive="active">
                 <i class="material-symbols-outlined text-danger">mail</i>
                 <span class="menu-title mt-5px">Contacts</span>
             </a>
         </li>
         <li class="nav-item" routerLink="/jobs" routerLinkActive="active">
             <a class="d-flex align-items-center" routerLink="/jobs" routerLinkActive="active">
                 <i class="material-symbols-outlined text-info">work</i>
                 <span class="menu-title mt-5px">Jobs</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="d-flex align-items-center">
                 <i class="material-symbols-outlined text-secondary">description</i>
                 <span class="menu-title mt-5px">Projects</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="d-flex align-items-center">
                 <i class="material-symbols-outlined text-warning">chat_bubble</i>
                 <span class="menu-title mt-5px">Analytics</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="d-flex align-items-center">
                 <i class="material-symbols-outlined text-danger">calendar_today</i>
                 <span class="menu-title mt-5px">Calendar</span>
             </a>
         </li>
         <li class="nav-item">
             <a class="d-flex align-items-center">
                 <i class="material-symbols-outlined text-warning">settings</i>
                 <span class="menu-title mt-5px">Settings</span>
             </a>
         </li>
     </ul>
 </div>
</div> -->