<div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th class="text-capitalize">NAME</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workFlow of workFlows">
          <td class="text-capitalize">
            <small class="text-uppercase"
              >{{workFlow.workFlowName}}</small
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <section class="px-3">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-end">
        <nav aria-label="Page navigation example">
          <ul class="pagination mt-2">
            <li class="page-item prev-item">
              <a class="page-link" href="#"></a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item" aria-current="page">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">7</a>
            </li>
            <li class="page-item next-item">
              <a class="page-link" href="#"></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  