<div class="actions d-flex">
    <button class="btn btn-primary btn-sm" (click)="openWorkOrderModal(null)">
      <div class="d-flex align-items-center">
        <i class="material-symbols-outlined ">add</i>
        <span>Add Work Order</span>
      </div>
    </button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button class="btn btn-primary btn-sm" (click)="openEventModal(null)">
      <div class="d-flex align-items-center">
        <i class="material-symbols-outlined ">add</i>
        <span>Add Event</span>
      </div>
    </button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button class="btn btn-primary btn-sm" (click)="openWorkflowModal(null)">
      <div class="d-flex align-items-center">
        <i class="material-symbols-outlined ">add</i>
        <span>Add Workflow</span>
      </div>
    </button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>