.modal-dialog {
    width: 25vw;
    height: 20vh;
}
  
.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-default-close {
  margin: 0;

  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: #7367f0 !important;
  color: #ffffff;
  font-size: 40px;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);

}

.modal-Scroll::-webkit-scrollbar {
  display: none;
}

.modal-Scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.modal-header {
  color: #FFF;
}

.close {
  color: white;
}

.heading {
  display: flex;
  justify-content: flex-start;
}

.heading .title {
  font-weight: 900;
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
}
