<div class="modal-dialog modal-xl modal-Scroll">
    <div class="modal-content">
        <button type="button" class="btn-close close modal-default-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeConfirmModal()"></button>
        <div class="modal-header heading">
            <h4 class="modal-title" id="myModalLabel17" class="title">Are you sure you want to delete this record?</h4>
        </div>
        <div class="modal-body">
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary me-1" (click)="deleteJobClick()">Yes</button>
                <button type="submit" class="btn btn-primary me-1" (click)="closeConfirmModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>