
  
.modal-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}


.modal-default-close {
  margin: 0;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #7367f0 !important;
  color: #ffffff;
  font-size: 25px;
  opacity: 1;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0px;
  right: 0px;

}

.modal-Scroll::-webkit-scrollbar {
  display: none;
}

.modal-Scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.modal-header {
  color: #FFF;
}

.close {
  color: white;
}

.heading {
  display: flex;
  justify-content: flex-start;
}

.heading .title {
  font-weight: 900;
  font-size: 24px;
  font-family:'Times New Roman', Times, serif;
}
