<div class="header">
    <div class="header-container">
        <button class="btn btn-link sidbar-toggler" (click)="toggleSidebar()"><span class="material-symbols-outlined">
            menu
            </span></button>
        <div class="flex-grow-1 header-search">
            <div class="input-icon-left search-input-header">
                <i class="material-symbols-outlined">search</i>
                <input class="form-control" type="text" placeholder="Search">
            </div>
        </div>
        <div class="header-menu-list">
            <div class="">
                <i class="material-symbols-outlined">add_circle</i>
            </div>
            <div class="">
                <i class="material-symbols-outlined">assignment_turned_in</i>
            </div>
            <div class="">
                <i class="material-symbols-outlined">notifications</i>
            </div>
            <div class="">
                <i class="material-symbols-outlined">help</i>
            </div>
            <div class="user-avatar">
                <img src="../assets/images/5.png" alt="avatar">
                <span>Arya Stark</span>
            </div>
        </div>
    </div>

    
</div>
