@import '../variables';
.input{
    margin-bottom: 1rem;
    label{
        font-size: 14px;
        color:  #3D4A5C;
        font-family: $inter-m;
        margin-bottom: 5px;
    }
    .form-control{
        height: $h-md;
        border-radius: 8px;
        border: 1px solid #D7DFE9;
        background: #fff;
        &::placeholder{
            color: #667085;
            font-family: $inter-r;
            font-size: 13.6669px;
        }
        &:focus{
            box-shadow: none;
        }
        &.fc-lg{
            height: $h-lg;
        }
    }
    textarea{
        height: auto !important;
        resize: none;
    }
}

p-dropdown , p-multiselect{
    display: block;
    .p-dropdown , .p-multiselect{
        height: $h-md;
        border-radius: 8px;
        border: 1px solid #D7DFE9;
        background: #fff;
        width: 100%;
        .p-dropdown-label{
            padding: 0rem 0.75rem;
            display: flex;
            align-items: center;
        }
        &.p-focus , &:hover{
            box-shadow: none !important;
            border-color: #D7DFE9 !important;
        }
        .p-multiselect-label-container{
            .p-multiselect-label{
                padding: 0rem 0.75rem;
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
    &.p-lg{
        .p-dropdown{
            height: $h-lg;
        }
    }
}


p-inputswitch{
    .p-inputswitch{
        .p-inputswitch-slider{

        }
        &:hover{
            .p-inputswitch-slider{
                background: $primary !important;
            }
        }
        &.p-inputswitch-checked{
            .p-inputswitch-slider{
                background: $primary !important;
            }
        }
        &.p-focus{
            .p-inputswitch-slider{
                box-shadow: none;
            }
        }
    }
}

p-fileUpload{
    .p-fileupload{
        .p-button{
            width: 100%;
            height: $h-md;
        border-radius: 8px;
        border: 1px solid #D7DFE9;
        background: #fff;
        color: #667085;
        justify-content: center;
        .p-button-label{        
            font-weight: unset;
            font-family: 'Inter-medium';
            font-size: 14px;
            flex-grow: 0;
        }
        &:hover{
            border: 1px solid #D7DFE9;
        background: #fff;
        color: #667085;
        }
        &:focus{
            box-shadow: none;
        }
        }
    }
}

.input-icon-left{
    position: relative;
    > i {
        color: #5E718D;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(-50%,-50%);
    }
    input{
        padding-left: 40px;
    }
}

.input-icon-right{
    position: relative;
    > i {
        color: #5E718D;
        font-size: 12px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%,-50%);
    }
    input{
        padding-right: 40px;
    }
}