@import '../../../../assets/styles/variables';


::ng-deep{
    .layout{
        height: 100%;
        background: #F1F3F9;
        .sidebar{
            transition: all 0.3s;
            position: fixed;
            left: 0;
            height: 100%;
            background: #fff;
            z-index: 1;
            .sidebar-header{
                padding: 15px;
                display: flex;
                align-items: flex-start;
                height: $header-height;
                .logo{
                    width: 40px;
                    object-fit: contain;
                    object-position: center;
                }
                .sidebar-toggler{
                    background: transparent;
                    border: none;
                    span{
                        color: $primary;
                        font-size: 20px;
                    }
                }
            }

            .menu-container{
                // height: calc(100% - 4.45rem) !important;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
                overflow: overlay;
                .menu-items {
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  position: relative;
                  padding: 0 15px;
                  .menu-item {
                    white-space: nowrap;
                    margin-bottom: 10px;
                    .menu-link {
                      padding: 8px 10px;
                      display: block;
                      font-size: 15px;
                      text-decoration: none;
                      border-radius: 8px;
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      cursor: pointer;
                      // border-left: 3px solid transparent;
                      i{
                        font-size: 22px;
                        line-height: 1;
                      }
                      span{
                        color: #172B4D;
                        font-family: $gotham-r;
                        font-size: 14px;

                      }
                      &.active{
                        background: #F6F9FC;
                      }
                    }
                  }
                }
            }
        }

        .header{
            height: $header-height;
            background: #1C1D21;
            overflow: hidden;
            .header-container{
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                @media (max-width:600px) {
                    padding: 0 10px;
                }
                .header-menu-list{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    @media (max-width:600px) {
                        gap:10px;
                    }
                    > div{
                        cursor: pointer;
                        i{
                            color: #fff;
                        }
                    }
                    .user-avatar{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 50px;
                            height: 50px;
                            min-width: 50px;
                            border-radius: 50px;
                            overflow: hidden;
                            overflow: hidden;
                            @media (max-width:600px) {
                                width: 30px;
                                height: 30px;
                                min-width: 30px;
                            }
                        }
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }

        .app-container{
            transition: all 0.3s;
            overflow: hidden;
            overflow-y: auto;
            height: 100%;
            position: relative;
            .app-component{
                position: relative;
                height: calc(100% - #{$header-height});
                &::before{
                    content: '';
                    background: #1C1D21;
                        height: 500px;
                        width: 100%;
                        position: absolute;
                }
            }
        }

        &.sidebar-slim{
            .sidebar{
                width: $slim;
                .sidebar-header{
                    justify-content: center;
                    .logo{
                        display: none;
                    }
                }
                .menu-container{
                    .menu-items{
                        .menu-item{
                            .menu-link{
                                justify-content: center;
                                // i{
                                //     margin-right: 0 !important;
                                // }
                                span{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
            }
            .app-container{
                margin-left: $slim;
            }
        }

        &.sidebar-slim .sidebar{
            &:hover{
                width: $expanded;
                .sidebar-header{
                    justify-content: space-between;
                    .logo{
                        display: block;
                    }
                }
                .menu-container{
                    .menu-items{
                        .menu-item{
                            .menu-link{
                                justify-content: start;
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.sidebar-expanded{
            .sidebar{
                width: $expanded;
                .sidebar-header{
                    justify-content: space-between;
                    .logo{
                        display: block;
                    }
                }
                .menu-container{
                    .menu-items{
                        .menu-item{
                            .menu-link{
                                span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .app-container{
                margin-left: $expanded;
            }
        }

        &.sidebar-overlay {
            .sidebar{
                width: $expanded;
                position: fixed;
                left: -$expanded;
            }
            &.sidebar-overlay-open{
                .sidebar{
                    left: 0;
                }
            }
        }
    }
}