@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600');

/* @import "./assets/css/bootstrap.css"; */
/* @import "./assets/css/bootstrap-extended.css"; */
@import "./assets/css/colors.css";
@import "./assets/css/components.css";
@import "./assets/css/bordered-layout.css";
@import "./assets/css/vertical-menu.min.css";

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');
@import "./assets/css/style.css";
/* @import url('https://fonts.gstatic.com'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


