@font-face {
    font-family: "gotham-book";
    src: url("../fonts/Gotham-Font/GothamBook.ttf");
}

@font-face {
    font-family: "gotham-medium";
    src: url("../fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "gotham-bold";
    src: url("../fonts/Gotham-Font/GothamBold.ttf");
}



// @font-face {
//     font-family: "Inter-semibold";
//     src: url("../fonts/inter/static/Inter-SemiBold.ttf");
// }

// @font-face {
//     font-family: "Inter-bold";
//     src: url("../fonts/inter/static/Inter-Bold.ttf");
// }