/*Typography*/
/*Gotham*/
$gotham-r: 'gotham-regular';
$gotham-m: 'gotham-medium';
$gotham-sb: 'gotham-semibold';
$gotham-b: 'gotham-bold';
/**************************************/
/*Layout Components*/
$slim: 80px;
$expanded: 250px;
$header-height: 70px;
/**************************************/
/*Element Sizes*/
$h-lg: 48px;
$h-md: 40px;
$h-sm: 34px;
/**************************************/
$primary: #D30F3F;
$secondary: #414042;

$text: #414042;
$text-light:#6E6E74;
$text-dark: #2D2E46;