/*Typography*/
/*Inter*/
$inter-r: 'inter-regular';
$inter-m: 'inter-medium';
$inter-sb: 'inter-semibold';
$inter-b: 'inter-bold';
/**************************************/
/*Layout Components*/
$slim: 80px;
$expanded: 250px;
$header-height: 100px;
/**************************************/
/*Element Sizes*/
$h-lg: 48px;
$h-md: 40px;
$h-sm: 34px;
/**************************************/
$primary: #D30F3F;
$secondary: #414042;
$black: #1C1D21;

$text: #414042;
$text-light:#6E6E74;
$text-dark: #2D2E46;