@import 'variables';
html ,body{
    font-family: $gotham-m;
    height: 100%;
    margin: 0;
}
html{

}
body{

}
/*******************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #E3E5F5; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #94A3B8; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94A3B8; 
}
/*******************************/
.card{
    background: #fff;
    border: none;
    border-radius: 10px;
    .card-header{
        border: none;
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border-radius: 10px 10px 0 0;
        .card-title{
            color: #455468;
            font-size: 20px;
            font-family: $gotham-m;
            margin: 0;
        }
    }
    .card-body{
        padding: 20px;
    }
    &.border{
        border: 1px solid #D9D9D9 !important;
        border-radius: 8px;
    }
}
/*******************************/
.component-header{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-padding{
    padding: 50px 0;
}
/*******************************/

.data-view{
    .item{
        .data-title{
            font-size: 14px;
            font-family: $gotham-m;
            color: #45496A;
        }
        .data-value{
            font-size: 14px;
            font-family: $gotham-r;
            color: #686C87;
        }
    }
}
/*new data view styles the above one will obsolete*/
.data_view{
    &_item{
       &_title{
            font-size: 14px;
            font-family: $gotham-m;
            color: #45496A;
        }
        &_value{
            font-size: 14px;
            font-family: $gotham-r;
            color: #686C87;
        }
    }
}
/*******************************/
.mat-modal{
    .mat-modal-header{
        padding: 20px 20px 0;
        display: flex;
        justify-content: space-between;
    }
    .mat-modal-body{
        padding: 20px 20px;
        overflow: hidden;
        overflow-y: auto;
        max-height: 60vh;
    }
    .mat-modal-footer{
        padding: 0 20px 20px 20px;
        border-top: 2px solid #d1d1d1;
        max-height: 100px;
    }
}

/*******************************/